<ion-header>
  <ion-toolbar>
    <ion-buttons>
      
    </ion-buttons>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item detail *ngFor="let c of componentes" [routerLink]="c.redirectTo">
      <ion-icon [name]="c.icon" slot="start" ></ion-icon>
      <ion-label>
        {{c.name}}
        
      </ion-label>
    </ion-item>
  </ion-list>
 
  <!-- <ion-button [routerLink]="c.redirectTo">Action-Sheet</ion-button>
        -->

</ion-content>
